/*-----------------------------------------
	HELPERS import
--------------------------------------------*/
@import "ui/variables";
@import "ng/nganimations";

/*-----------------------------------------
	Main Config
--------------------------------------------*/
html { overflow-y: scroll; }
body { font-family: 'Roboto', Helvetica Neue; }
a { text-decoration: none; }

main {
	.intro-div {
		background-color: #bdbdbd;
		text-align: center;
		
		.intro-span { border-radius: 5px; }
	}
	.checkbox {
		.add-padding {
			padding-top: 15px;
		}
		md-checkbox.md-checked span.underlines {
			text-decoration: line-through;
			font-style: italic;
			color: #BDBDBD;
		}
		button.md-warn.md-button {
			margin: -6px 0 0 0;
		}
	}
}