<!-- Create a todo -->
<md-content flex layout-padding>
	<!-- Header and TODO count -->
	<div layout="row">
		<div flex="100" flex-gt-xs="60" flex-offset-gt-xs="20" class="intro-div">
			<h1 class="md-display-2">
				Todo List 
				<!-- TODO: interpolate {{ todos.length }} -->
				<span class="md-display-1 intro-span" md-colors="::{backgroundColor: 'blue-500'}" layout-padding>{{ todos.length || 0 }}</span>
			</h1><!-- ./ md-display-2 -->
		</div><!-- ./ flex offset -->
	</div><!-- ./ row -->

	<!-- Create TODOs -->
	<form>
		<!-- custom component -->
		<todo-form create="createTodo()" 
			form-data-text="formData.text">
		</todo-form><!-- ./ todo-form -->
	</form>

	<!-- TODO list -->
	<div layout="row" class="todo-lists">
		<div flex="100" flex-gt-xs="33" flex-offset-gt-xs="33">
			<!-- TODO: ng-repeat="todo in todos" -->
			<div class="checkbox" ng-repeat="todo in todos track by $index">
				<md-checkbox  ng-model="todo.done" 
					ng-show="!todo.isChecked"
					value="{{ todo.text }}"
					ng-change="updateDone(todo._id, todo.done)" 
					aria-label="todo.text">
					<span class="underlines">{{ todo.text }}</span>
				</md-checkbox><!-- ./ md-checkbox -->
				<!-- default checkbox -->
				<md-checkbox ng-show="todo.isChecked"
					ng-disabled="todo.isChecked"
					value="{{ todo.text }}"
					aria-label="todo.text">
					<span>{{ todo.text }}</span>
				</md-checkbox><!-- ./ md-checkbox -->
				<!-- end default checkbox -->
				<md-button md-no-ink class="md-warn" ng-if="todo.done" 
					ng-click="deleteTodo(todo._id)">
					<md-icon md-font-set="material-icons">delete_forever</md-icon>
				</md-button><!-- ./ md-button -->
				<md-divider class="add-padding"></md-divider><!-- empty divider -->
			</div><!-- ./ checkbox -->
		</div><!-- ./ flex offset-->
	</div><!-- ./ row -->
</md-content><!-- ./ md-content -->
