/*--------------------------------
	ng-animations
----------------------------------*/
.listing.ng-enter, .listing.ng-move {
	webkit-transition: 0.4s all;
	moz-transition: 0.4s all;
	ms-transition: 0.4s all;
	o-transition: 0.4s all;
	transition: 0.4s all;
	opacity: 0;
}

.listing.ng-enter.ng-enter-active, .listing.ng-move.ng-move-active {
	opacity: 1;
}

.listing.ng-leave {
	animation: fade_listing;
}

@keyframes fade_listing {
	from { opacity: 1; }
	to { opacity: 0; }
}