/*--------------------------------
	ng-animations
----------------------------------*/
/*.listing.ng-leave {
	animation: fade_listing;
}

@keyframes fade_listing {
	from { opacity: 1; }
	to { opacity: 0; }
}*/
.developer__display.ng-enter, 
.developer__display.ng-move {
	webkit-transition: 2s all;
	moz-transition: 2s all;
	ms-transition: 2s all;
	o-transition: 2s all;
	transition: 2s all;
	opacity: 0;
}

.developer__display.ng-enter.ng-enter-active, 
.developer__display.ng-move.ng-move-active {
	opacity: 1;
}