/*--------------------------------
	Variables
----------------------------------*/
$borderRadius: 50%;
$box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
$box-shadow2: 3px 16px 47px 8px rgba(0,0,0,0.75);
$boxShadowAdvanced: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
$buttonBoxShadow: 0 3px 6px 0 rgba(0,0,0,0.2);
$buttonHoverBoxShadow: 0 5px 6px 0 rgba(0,0,0,0.2);
$blueBase: #03A9F4;
$clearlyGray: #676470;
$cubic: cubic-bezier(.64,.09,.08,1);
$darkenGray: #424242;
$defaultBlueMDL: #3f51b5;
$lightYellow: #ffeb3b;
$ligthGray: #f5f5f5;
$ligthBlack: rgba(0, 0, 0, 0.65);
$ligthBlacker: rgba(0, 0, 0, 0.75);
$margin: 0;
$pinkBase: #ff4081;
$pixelsFourHundred: 400px;
$redAccent: #ff5252;
$textShadow: 2px 2px rgba(0,0,0,0.3);
$transparentGray: rgba(128, 128, 128, 0.32);
$transparentLightGray: rgba(128, 128, 128, 0.15);
$transparentWhite: rgba(255,255,255, 0.8);
$widthOrHeight: 100%;
$widthOrHeightpx: 120px;
$widthPercentage: 90%;

/* icon background colors */
$defaultRedMDL: #f34235;
$defaultYellowMDL: #FF9800;
$defaultYellowLightMDL: #ffc720;
$defaultGreenMDL: #8dc153;
$defaultBlueLightMDL: #0081d1;